<div class="flex-1 px-24 py-16 grow">
  <div class="flex flex-row items-center justify-around">
    <div>
      <div class="flex flex-row items-center justify-start mb-6">
        <div>
          <h1 class="mb-2 text-5xl">Bienvenue à </h1>
          <div class="flex flex-row items-center justify-start">
            <p>Parce que</p>
            <span class="ml-1 font-semibold text-orange-600">Food is bae</span>
            <img class="ml-1" src="/assets/emoji-langue.png">
          </div>
        </div>
        <h1 class="mx-6 text-orange-600 -rotate-12 font-ekaly text-9xl">Ekaly</h1>
      </div>
      <p class="leading-relaxed tracking-wide w-128">
        Où que vous soyez, juste commandez et mangez.<br>
        Trouvez votre bonheur avec notre coolection de plats préparé avec amour par nos partenaire.<br>
        N'attendez plus, le bonheur vous attend !!!<br>
      </p>
      <div class="flex flex-row items-center justify-start mt-6">
        <a class="px-6 mr-6 cursor-pointer cta" routerLink="/menus">Commander un plat</a>
        <span class="mr-6">ou</span>
        <a class="px-6 cursor-pointer cta-white" routerLink="/restaurants">Voir nos restaurant</a>
      </div>
    </div>
    <img class="w-2/5 rounded-full" src="/assets/livreur.jpg" alt="Livreur">
  </div>
</div>
